.movies__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  justify-content: flex-start;
  gap: 32px 20px;
  width: 100%;
}

.movies__message {
  text-align: center;
  font-size: 3rem;
  color: hsl(0 0% 50% / 1);
}

.movies__button-container {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 60px 0 80px;
  min-height: 140px;
  box-sizing: border-box;
}

.movies__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 36px;
  border-radius: 6px;
  border: none;
  background-color: #2F2F2F;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
}


.movies__button_hidden {
  display: none;
}

@media screen and (max-width: 1279px) {
  .movies__list {
    justify-content: center;
  }
}

@media screen and (max-width: 989px) {
  .movies__list {
    grid-template-columns: repeat(auto-fit, 339px);
    gap: 35px 24px ;
  }

  .movies__button-container {
    min-height: 150px;
  }
}

@media screen and (max-width: 450px) {
  .movies__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 16px;
  }
}
