.profile {
  padding: 74px 0 70px;
  display: flex;
  flex-direction: column;
  max-width: 410px;
  margin: 0 auto;

}

.profile__title{
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0 auto 105px;
}

.profile__form {
  width: 100%;
  margin-bottom: 200px;
}

.profile__input-field {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 17px 0 16px;
  border-bottom: 1px solid #424242;
  display: grid;
  grid-template-columns: max-content 1fr;
}

.profile__input-field:last-of-type {
  border-bottom: none;
}

.profile__label {
  color: #FFF;
  text-align: right;
  font-family: 'Inter';
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  /* width: 75%; */
  color: #FFF;
  text-align: right;
  font-family: 'Inter';
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: transparent;
  border: none;
  padding: 0;

}

.profile__edit {
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.profile__logout{
  color: #EE3465;
  text-align: center;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: transparent;
  border: none;
  padding: 0;
}



@media screen and (max-width: 768px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__title {
    margin-bottom: 79px;
  }

  .profile__form {
    margin-bottom: 194px;
  }
}

@media screen and (max-width: 425px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin-bottom: 63px;
  }

  .profile__form {
    margin-bottom: 363px;
  }


  .profile__edit {
    font-size: 12px;
  }

  .profile__logout{
    font-size: 12px;
  }

}
