.promo {
  background-color: #073042;
  min-height: 574px;
  padding: 75px 70px;
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 640px;
}

.promo__title {
  margin: 0;
  font-family: 'Inter';
  /* font-size: 50px; */
  font-size: clamp(1.875rem, 1.458rem + 2.083vw, 3.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
}

.promo__text {
  margin: 36px 0 0;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 310px;
  opacity: 0.5;
}

.promo__link {
  margin: 0;
  color: #FFF;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  width: fit-content;
}

.promo__img {
  width: 310px;
  height: 304px;
  /* display: block; */
  }

@media (max-width: 768px) {
  .promo {
    padding: 140px 30px 76px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__text-container {
    gap: 92px;
  }

  .promo__title {
    margin-top: 48px;
    /* font-size: 40px; */
    color: #FFF;
    text-align: center;
    line-height: 50px; /* 125% */
  }

  .promo__text {
    color: #FFF;
    text-align: center;
    max-width: 260px;
    margin: 22px auto 0;
  }

  .promo__link {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .promo {
    padding: 70px 10px 30px;
  }

  .promo__text-container {
    gap: 80px;
  }

  .promo__title {
    margin-top: 44px;
    /* font-size: 30px; */
    letter-spacing: -1.2px;
    line-height: 38px; /* 126.667% */
  }

  .promo__img {
    width: 210px;
    height: 206px;
  }

  .promo__text {
    color: #FFF;
    text-align: center;
    margin-top: 24px;
  }
}
