@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/fonts.css');


:root {
  --clr-bg-primary: hsl(0, 0%, 13%);
  --clr-bg-secondary:hsl(0, 0%, 15%);
  --clr-bg-accent: hsl(199, 81%, 14%);
  --clr-text-primary: hsla(0, 0%, 100%, 1);
  --clr-text-secondary: hsla(0, 0%, 0%, 1);
  --clr-text-accent: hsla(0, 0%, 0%, 1);
  --clr-accent-primary: hsla(147, 69%, 55%, 1);
  --clr-accent-secondary: hsla(344, 85%, 57%, 1);
  --clr-accent-third: hsla(0, 0%, 19%, 1);
  --clr-accent-four: hsla(217, 89%, 61%, 1);
}

body {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  background-color: var(--clr-bg-primary);
  color: var(--clr-text-primary);
  text-rendering: optimizeLegibility;
  max-width: 1280px;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  max-width: 1280px;
  height: 74px;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_accent-clr {
  background-color: var(--clr-bg-accent);
}

.header__logo {
  background-image: url('../../images/logo.svg');
  display: block;
  width: 38px;
  height: 38px;
}

.header__link-list {
  /* list-style: none;
  padding: 0;
  margin: 0; */
  display: flex;
  gap: 30px;
}

.header__link {
  color: inherit;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
}
.header__link_accent {
  color: var(--clr-text-secondary);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 20px;
  border-radius: 3px;
  background: var(--clr-accent-primary);
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 400px) {
  .header {
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
  }

.header__link-list {
  gap: 14px
}

  .header__link_accent {
    padding: 5px 12px;
  }
}

.promo {
  background-color: var(--clr-bg-accent);
  min-height: 574px;
  padding: 75px 70px;
  display: flex;
  justify-content: space-between;
  /* box-sizing: border-box; */
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 640px;
}

.promo__title {
  margin: 0;
  font-family: 'Inter';
  /* font-size: 50px; */
  font-size: clamp(1.875rem, 1.458rem + 2.083vw, 3.125rem);
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
}

.promo__text {
  margin: 36px 0 0;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 310px;
  opacity: 0.5;
}

.promo__link {
  margin: 0;
  color: #FFF;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  width: fit-content;
}
.promo__img {
  /* background-image: url(../../images/web-globe.svg);
  background-repeat: no-repeat; */
  width: 310px;
  height: 304px;
  /* display: block; */
  }

@media (max-width: 768px) {
  .promo {
    padding: 140px 30px 76px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__text-container {
    gap: 92px;
  }

  .promo__title {
    margin-top: 48px;
    /* font-size: 40px; */
    color: #FFF;
    text-align: center;
    line-height: 50px; /* 125% */
  }

  .promo__text {
    color: #FFF;
    text-align: center;
    max-width: 260px;
    margin: 22px auto 0;
  }

  .promo__link {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .promo {
    padding: 70px 10px 30px;
  }

  .promo__text-container {
    gap: 80px;
  }

  .promo__title {
    margin-top: 44px;
    /* font-size: 30px; */
    letter-spacing: -1.2px;
    line-height: 38px; /* 126.667% */
  }

  .promo__img {
    width: 210px;
    height: 206px;
  }

  .promo__text {
    color: #FFF;
    text-align: center;
    margin-top: 24px;
  }
}

.about-project {
  padding: 110px 70px;
}

.title {
  color: #FFF;
  font-family: 'Inter';
  font-size: 22px;
  /* font-size: clamp(1.125rem, 1.042rem + 0.417vw, 1.375rem); */
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;

  margin: 0;
  padding-bottom: 23px;
  border-bottom: 1px solid #DADADA;
}

.about-project__items {
  /* margin: 0;
  list-style: none; */
  padding: 70px 0 110px;
  display: flex;
  gap: 40px;
}

.about-project__item {
  width: 100%;
}

.about-project__item-title {
  color: #FFF;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin: 0 0 26px;
}

.about-project__item-text {
  color: #FFF;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  margin: 0;
}

.about-project__steps {
  /* margin: 0;
  padding: 0;
  list-style: none; */
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.about-project__step_first {
  color: #000;
}

.about-project__step-title {
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  background-color: #303030;
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0;
  margin-bottom: 14px;
}

.about-project__step-title_first {
  color: #000;
  background-color: #3DDC84;
}

.about-project__step-description {
  color: #8B8B8B;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px; /* 121.429% */
  margin: 0;
}

@media (max-width: 768px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__items {
    padding-bottom: 93px;
  }

  .about-project__item-title {
    margin-bottom: 22px;
  }

  .about-project__item-text {
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  .about-project__steps {
    grid-template-columns: 140px 4fr;
  }

  .about-project__step-description {
    font-family: 'Suisse Intl';
  }
}

@media (max-width: 400px) {
  .about-project {
    padding: 70px 18px;
  }

  .title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
  .about-project__items {
    padding-top: 60px;
    padding-bottom: 59px;
    gap: 56px;
    flex-direction: column;
  }
  .about-project__item-title {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 16px;

    /* мой пиксель перфект */
    line-height: 22px;
  }

  .about-project__item-text {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }

  .about-project__steps {
    grid-template-columns: 100px 4fr;
  }

  .about-project__step-title {
    font-size: 11px;
    padding-top: 11px;
    padding-bottom: 11px;

    /* мой пиксель перфект
    ** было 10
    **/
    margin-bottom: 7px;
  }

  .about-project__step-description {
    font-size: 11px;
  }
}

.techs {
  padding: 102px 70px;
  background-color: #272727;
}

.techs__subtitle {
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 90px 0 26px 0;
}

.techs__text {
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
  max-width: 460px;
  margin: 0 auto 100px;
}

.techs__items {
  /* list-style: none;
  margin: 0;
  padding: 0; */
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-content: center;
  gap: 10px;
}
.techs__item {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;

  background-color: #303030;
  border-radius: 10px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__subtitle {
    margin-top: 80px;
    margin-bottom: 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px; /* 150% */
    letter-spacing: -0.48px;
    margin-bottom: 83px;
  }

  .techs__items {
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__item {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media (max-width: 400px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__subtitle {
    margin-top: 60px;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
    letter-spacing: -0.44px;
    margin-bottom: 50px;
  }

  .techs__items {
    padding-left: 20px;
    padding-right: 20px;
  }

  .techs__item {
    height: 57px;
  }
}

.about-me {
  padding: 110px 70px 100px;
}

.about-me__content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 640px;
  gap: 55px;

  /* My pixel perfect */
  padding-right: 20px;
}

.about-me__name {
  color: #FFF;
  font-family: 'Inter';
  font-size: 50px;
  /* font-size: clamp(1.875rem, 1.458rem + 2.083vw, 3.125rem); */
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin: 0 0 18px;
}

.about-me__about {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  margin: 0 0 26px;
}
.about-me__text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  margin: 0;
}

.about-me__link {
  color: #FFF;
  font-family: 'Inter';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.about-me__img {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .about-me {
    padding: 90px 50px 90px;
  }

  .about-me__text-container {
    /* max-width: 364px; */
    gap: 87px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: -1.6px;
    margin-bottom: 16px;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 18px; /* 150% */
    margin-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  .about-me__img {
    width: 255px;
    height: 307px;
  }

}

@media (max-width: 700px) {
  .about-me__content-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 60px;
    gap: 40px;
  }

  .about-me__text-container {
    /* max-width: 292px; */
    gap: 40px;
  }
}

  @media (max-width: 460px) {
  .about-me {
    padding: 70px 14px;
  }

  /* .about-me__content-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 60px;
    gap: 40px;
  } */

  .about-me__text-container {
    /* max-width: 292px; */
    /* gap: 40px; */
    padding-right: 0;
  }

  .about-me__name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 20px;
  }

  .about-me__about {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px; /* 145.455% */
  }

  .about-me__img {
    width: 100%;
    /* width: 292px; */
    height: 352px;
  }
}

.portfolio {
  padding: 0 70px 125px;
}

.portfolio__title {
  color: #8B8B8B;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
  margin: 0 0 50px;
}

.portfolio__item {
  padding-bottom: 19px;
  border-bottom: 1px solid #E6E6E6;
  /* #424242 или #E6E6E6 ?? все 3 или только 2 средние? */
}

.portfolio__item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__item:not(:first-child) {
  padding-top: 20px;
}

.portfolio__link {
  color: #FFF;
  font-family: 'Inter';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;

  display: block;
  background-image: url('../../images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center right 6px;

}

@media (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media (max-width: 400px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;

    background-position: center right 5px;
    background-size: 10px;
  }
}

.footer {
  padding: 79px 70px 0;
}

.footer__title {
  color: #8B8B8B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
  min-height: 56px;
}
.footer__text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto 0;
}

.footer__items {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer {
    padding: 79px 30px 0;
  }

}

@media (max-width: 400px) {
  .footer {
    padding: 79px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    /* text-align: center; */
    margin: 0 0 21px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    gap: 30px;
  }
  .footer__item {
    line-height: 15px;
  }
  .footer__items {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__date {
    color: #8B8B8B;
  }
}
