.switch {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 39px;
  border-bottom: 1px solid #424242;
}

.switch__input {
  appearance: none;
}

.switch__label {
  color: #FFF;
  font-family: 'Inter';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
}

.switch__checkbox {
  display: inline-block;
  width: 36px;
  height: 20px;
  background-color: #343434;
  border-radius: 10px;
  position: relative;
  margin-right: 12px;
}

.switch__checkbox::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #A0A0A0;
  transition: left 200ms ease-in-out;
}

.switch__input:focus + .switch__checkbox {
  box-shadow: 0 0 2px 1px white;
}

.switch__input:checked + .switch__checkbox::before {
  left: 18px;
  background-color: #2BE080;
}

@media (max-width: 500px) {

  .switch {
    padding-top: 44px;
    padding-bottom: 43px;
  }

  .switch__label {
    font-size: 11px;
  }

}
