.footer {
  padding: 79px 70px 0;
}

.footer__title {
  color: #8B8B8B;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #424242;
  min-height: 56px;
}

.footer__text {
  color: #FFF;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: 'Inter';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: auto 0;
}

.footer__items {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {

  .footer {
    padding: 79px 30px 0;
  }

}

@media (max-width: 500px) {

  .footer {
    padding: 79px 10px 20px;
  }

  .footer__title {
    font-size: 12px;
    margin: 0 0 21px;
  }

  .footer__bottom {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 30px;
    gap: 30px;
  }

  .footer__item {
    line-height: 15px;
  }

  .footer__items {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__date {
    color: #8B8B8B;
  }
}
